<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title> "Programacion Visual"</title> 
</head>
<body>
	
	<header>
		
		<center>
		
		<h1>
			
			Lo interesante de la programacion visual
			
		</h1>
		
		</center>
		
	</header>
	
	<nav>
		
		<ul>
			
			<li><a href="#">INICIO</a></li>
			<li><a href="#">NOTICIAS</a></li>
			<li><a href="#">NOSOTROS</a></li>
			<li><a href="#">ATENCION AL CLIENTE</a></li>
		 </ul>
		
	</nav>
	
	<main>
		
		
		<section>
			
			
			<h1>Bienvenidos a la Materia Programacion Visual</h1>
			<h2>Animate a aprender a programar en el lenguaje java</h2>
			<a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Matriculate!</a>
			
		</section>
		
		<section>
		
		  <article>
			
		   <div></div>
		
		     <h2>programa de estudio</h2>
		
		            <ol>
		            	<li>Lenguaje Java</li>
		            	<li>Introduccion a Spring Boot</li>
		            	<li>Gestion de Dependencias y Versionamiento</li>
		            	<li>Spring Boot MVC</li>
		            	<li>Clases de negocio</li>
		            	<li>Persistencia de Objetos</li>
		            	<li>Manejos de formularios</li>
			
			
		            </ol>
		
		    <div>
				
				<img src="../static/images/java-lenguaje-de-programacion-logo.png" alt="">
				
			</div>	
			
			 <h3>Objetivos de esta materia</h3>
			 
			    <p>
					Que los estudiantes Instalen las herramientas para desarrollo; Java JDK 19 - Spring Tool Suite
					Que puedan expresar las consignas de ejercicios en un formato de Historias de Usuario y la representen en Proyectos de GitHub
					Introducir en el manejo del lenguaje de programación Java: Creación de clases, atributos, métodos y estructuras de control selectivas
					Que puedan subir el desarrollo de ejercicios en el repositorio de GitHub	
				
				
			    </p>
			
		</article>
		
	 </section>
	 
	      <center>
			
		    <h2>Programa de Catedra</h2>
			
		 
	      
	 
	           <table>
			          <tr>
						
						<th>Periodo Lectivo</th>
						<th>2024</th>
						
						<tr>
						   <td>CARRERA Y PLANES DE ESTUDIO</td>
     					   <td>Analista Programador Universitario 2008</td>
						   
						</tr>
						
						<td>BLOQUE DE CONOCIMIENTOS</td>
						
					   
					  </tr>
					  
					  <td>NOMBRE DE LA ASIGNATURA</td>
					  <td>Programacion Visual</td>
					  
					  <tr>
						
						<td>RESPONSABLE DE LA CATEDRA</td>
						<td>Responsable de cursada Ing.Ariel Alejandro Vega</td>
						
					  </tr>
					  
					   <tr>
						
      				  	<td>PROFESORES</td>
						<td>Carolina Apaza, Ariel Vega, Gustavo Sosa, Juan.C.Rodriguez</td>
	
					  </tr>
					  
					  <tr>
						
						<td>MODALIDAD DEL CURSADO</td>
						<td>Virtual</td>
						
					  </tr>
					  
					  <tr>
						
						<td>CARGA HORARIA SEMANAL</td>
						<td>6 horas</td>
						
					  </tr>
					  
					  <tr>
						
						<td>CARGA HORARIA TOTAL</td>
						<td>90 horas</td>
						
					  </tr>
			   
			
			
		        </table>  
		  
		  </center>  
	 
	  
	  <section>
	  		
	  		  
	  </section>
	  
	  
	  </main>
	
	
	<aside>
				
				<div>
							
					<h3>Docentes Asignados</h3>
							
				</div>
						 
						 
				   <div>
							
					     <div>
								
						   <img src="../static/images/Docente_1.png" alt="docente1">
								
					     </div>
							
						<div>
								
							<h4>Carolina Apaza</h4>	
								
						</div>
				   </div>
				   
				   <div>
				   						
				        <div>
				   		
				          <img src="../static/images/Docente_2.png" alt="docente2">
				   							
				   	    </div>
				   						
				   		   <div>
				   							
				   			  <h4>Ariel Vega</h4>	
				   							
				   			 </div>
				   </div>
							   
					<div>
							   						
					    <div>
							   							
					       <img src="../static/images/Docente_2.png" alt="docente3">
							   							
					    </div>
							   						
							<div>
							   							
							   	<h4>Gustavo Sosa</h4>	
							   							
							 </div>
					</div>
					
					 <div>
										   
				          <div>
										   						   							
						  <img src="../static/images/Docente_2.png" alt="docente4">
										   						   							
						 </div>
										   						   						
						     <div>
										   						   							
							  <h4>Juan Carlos Rodriguez</h4>	
										   						   							
							 </div>
				     </div>
										   			   
				   
							
	</aside>
	
	
	
	<footer>
		  <h3>Contactanos</h3>
		     <p>Redes sociales</p>
				 <li><a href="https://www.facebook.com/">Facebook</a></li>
				 <li><a href="https://twitter.com/">Twitter</a></li>
				 <li><a href="https://www.google.com/intl/es-419/gmail/about/">Gmail</a></li>
				 <li><a href="https://github.com/">Github</a></li>
				 <li><a href="https://virtual.unju.edu.ar/">Unju Virtual</a></li>		
				  
				
   </footer>
			
	
	
	
	
	
</body>

</html>