<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title> "Programacion Visual"</title> 
</head>
<body>
	
	<header>
		
		<h1>
			
			Lo interesante de la programacion visual
			
		</h1 style=">
		
		
	</header>
	
	<nav>
		
		<ul>
			
			<li><a href="#"></a></li >
			<li><a href="#">INICIO</a></li>
			<li><a href="#">NOTICIAS</a></li>
			<li><a href="#">NOSOTROS</a></l>
			<li><a href="#">ATENCION AL CLIENTE</a></l</ul>
		
	</nav>
	
	<main>
		
		
		<section>
			
			<h1>titulo 1</h1>
			<h2>titulo 2</h2>
			<a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Matriculate!</a>
			
		</section>
		
		<article>
			
		   <div></div>
		
		     <h2>programa de estudio</h2>
		
		            <ol>
		            	<li>Lenguaje Java</li>
		            	<li>Introduccion a Spring Boot</li>
		            	<li>Gestion de Dependencias y Versionamiento</li>
		            	<li>Spring Boot MVC</li>
		            	<li>Clases de negocio</li>
		            	<li>Persistencia de Objetos</li>
		            	<li>Manejos de formularios</li>
			
			
		            </ol>
		
		    <div>
				
				<img src="../static/images/java-lenguaje-de-programacion-logo.png" alt="">
				
			</div>	
			
		</article>
		
		
		<aside>
			
			
			
			
		</aside>
		
		
		<section>
			
			
			
			
		</section>
		
		
	</main>
	
	
	
	
	
	
	
</body>

</html>