<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> "Programacion Visual"</title> 
</head>
<body>
	
	<header>
		
		<h1>
			
			Lo interesante de la programacion visual
			
		</h1 style=">
		
		
	</header>
	
	<nav>
		
		<ul>
			
			<li><a href="#"></a></li >
			<li><a href="#">INICIO</a></li>
			<li><a href="#">NOTICIAS</a></li>
			<li><a href="#">NOSOTROS</a></l>
			<li><a href="#">ATENCION AL CLIENTE</a></l</ul>
		
	</nav>
	
	
	
	
	
	
	
</body>

</html>